<%-include("partials/header")-%>
    <div class="appContainer">
        <div class="appWindow">
            <div class="menuContainer">
                <div class="menuTitleBar">
                    <h2 class="nameTitle">Hi,
                        <span id="senderName">
                            <%= currentUser.name %>!
                        </span>
                    </h2>
                </div>
                <hr class="menuDivider">
                <div class="menuPanel">
                    <%if(currentUser.contacts.length===0) {%>
                        <div class="noContacts">
                            <p class="noContactsMsg"><i>You don't have any contacts.</i></p>
                        </div>
                        <%} else {%>
                            <%currentUser.contacts.forEach((contactName)=>{%>
                                <a href="/<%= currentUser.name %>/<%= contactName %>">
                                    <div class="contactsContainer">
                                        <img class="profilePic" src="/images/user.png" alt="profilePic">
                                        <div class="contactNameContainer">
                                            <p class="contactName">
                                                <%= contactName %>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <hr class="menuDivider">
                                <% }); %>
                                    <%}%>
                </div>
            </div>
            <div class="chatContainer">
                <div class="chatTitleContainer">
                    <div class="titleAndPicContainer">
                        <img class="profilePic" src="/images/user.png" alt="profilePic">
                        <h2 class="roomname">
                            <%= currentReceiver.name %>
                        </h2>
                        <% if(!isInContacts) { %>
                            <a href="/add-contact/<%=currentUser.name%>/<%=currentReceiver.name%>" class="addToContactsBtn"><i class="fas fa-user-plus"></i></a>
                            <% } %>
                    </div>
                </div>
                <hr class="menuDivider" style="width:95%">
                <div id="chatWindow" class="chatWindow">
                    <%chat.conversations.forEach(message=> {%>
                        <% if(message.sender===currentReceiver.name) { %>
                            <div class="msgContainer replyMsgContainer">
                                <div class="message reply">
                                    <!-- <p id="receiverName" class="receiverName"><%= // currentReceiver.name %> </p> -->
                                    <p>
                                        <%= message.content %>
                                    </p>
                                    <div class="msgDetails">
                                        <p class="msgTime">
                                            <%= message.sendingTime %>
                                        </p>
                                    </div>
                                    <div class="arrow  leftArrow"></div>
                                </div>
                            </div>
                            <% } else if (message.sender===currentUser.name) {%>
                                <div class="msgContainer sentMsgContainer">
                                    <div class="message sent">
                                        <p>
                                            <%= message.content %>
                                        </p>
                                        <div class="msgDetails">
                                            <p class="msgTime">
                                                <%= message.sendingTime %>
                                            </p>
                                        </div>
                                        <div class="arrow rightArrow"></div>
                                    </div>
                                </div>
                                <% }%>
                                    <%});%>
                </div>
                <div class="chatBox">
                    <form action="/<%=currentUser.name%>/<%=currentReceiver.name%>" method="post">
                        <textarea name="messageTypingArea" id="messageTypingArea" class="textBox"
                            placeholder="Type your message here..."></textarea>
                        <button type="submit" class="sendBtn">Send <i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%-include("partials/footer")-%>